# Бинарные файлы и кэш Go
/bin/
/pkg/
/*.exe
/*.dll
/*.so
/*.dylib
main

# Кэш тестирования Go
*.test

# IDE и редакторы
.vscode/
.idea/
*.iml

# Системные файлы
.DS_Store
Thumbs.db

# Логи и отладочные файлы
*.log
*.out
*.tmp

# .env
.env